.bottomspacer{
    height:67px;
    width:100%;
}

.resourceMainButton{
    color: rgba(25, 25, 25, 1)!important;
    border: 2px solid rgb(10,10,10);
    border-radius: 20px;
    padding: 0px 25px;
    margin: 0px 25px;
    background-color: rgba(0,0,0,0)!important;
    padding: 0px 35px;
    margin: 0px 10px;
}

.resourceSecondaryButton{
    color: rgba(25, 25, 25, 1)!important;
    border: 2px solid rgb(10,10,10);
    border-radius: 20px;
    padding: 0px 25px;
    margin: 0px 25px;
    background-color: rgba(0,0,0,0)!important;
    padding: 0px 35px;
    margin: 0px 10px;
    width: 170px;
    font-size:.8em;
}