.uploaderInput{
    width:88%;
    padding-right:30px;
}

.hookTitle{
    color: rgba(0, 0, 0, 0.26);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: .8em;
    padding-bottom:5px;
}

.hookButton{
    color: rgb(120, 120, 120) !important;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 20px;
    width:130px;
}
.hookDescription{
    padding: 0px 20px;
    color: rgba(0, 0, 0, 0.45);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.uploadButton{
    color: rgb(120, 120, 120) !important;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 20px;
    margin-right:20px;
    width:130px;
}